<template>
  <button
    :type="type"
    :style="{ 'background-color': btnColor, color: btntextColor }"
    class="btn"
    @click="$emit('click')"
  >
    <slot>Submit</slot>
  </button>
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      default: "button",
    },
    btnColor: {
      type: String,
    },

    btntextColor: {
      type: String,
    },
  },
};
</script>

<style scoped>
.btn a {
  text-decoration: none;
}
</style>
