<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <!-- from doorash  -->
    <meta
      name="description"
      content="Put your money where your mouth is with DoorDash"
    />

    <!-- Facebook meta -->
    <meta property="og:url" content="https://www.madebymit.com/doordash" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Up the steaks!" />
    <meta
      property="og:description"
      content="I just bet my mate dinner with DoorDash.  Go the Blues!"
    />
    <meta
      property="og:image"
      content="http://madebymit.com/doordash/img/share.png"
    />

    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
        properly without JavaScript enabled. Please enable it to
        continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
