<template>
  <div class="outer-container">
    <!-- Form screen -->

    <!-- Logo -->

    <div class="inner-container justify-center">
      <form
        v-on:submit.prevent="startChallenge"
        class="needs-validation"
        novalidate
      >
        <!-- Pick your state -->
        <div class="card state-card">
          <h2>Pick your state</h2>
          <div
            class="radio-container form-check full-width"
            v-for="(s, index) in states"
            :key="index"
          >
            <input
              class="form-check-input"
              :class="{ 'is-invalid': validationStatus($v.sState) }"
              type="radio"
              :id="s.team"
              name="team"
              :value="s.State"
              required
              v-model="$v.sState.$model"
            />
            <label
              :class="'form-check-label radio' + ' ' + s.team"
              :for="s.team"
              >{{ s.State }}</label
            >
            <div v-if="!$v.sState.required" class="invalid-feedback">
              Pick a side
            </div>
          </div>
        </div>

        <!-- Pick your mate -->
        <div class="card">
          <h2>Pick your mate</h2>
          <div class="form-floating">
            <input
              class="form-control"
              :class="{ 'is-invalid': validationStatus($v.mateName) }"
              type="text"
              id="mates-name"
              placeholder="Your mate's name"
              tabindex="3"
              required
              v-model.trim="$v.mateName.$model"
            />
            <label for="mates-name">Your mate's name</label>
            <div v-if="!$v.mateName.required" class="invalid-feedback">
              What's your mate's name?
            </div>
          </div>

          <div class="form-floating">
            <input
              :class="{ 'is-invalid': validationStatus($v.matePhone) }"
              class="form-control"
              type="tel"
              id="mates-mobile"
              placeholder="Your mate's mobile"
              tabindex="4"
              pattern="[0-9]{10}"
              maxlength="10"
              required
              v-model.trim="$v.matePhone.$model"
            />
            <label for="mates-mobile">Your mate's mobile</label>
            <div v-if="!$v.matePhone.required" class="invalid-feedback">
              What's your mate's mobile? eg 0412345678
            </div>
          </div>
        </div>

        <!-- Select amount carousel -->
        <div class="card price-card">
          <h2>Put your money where your mouth is!</h2>
          <h3>Amount</h3>
          <flickity
            v-if="Object.keys(betamounts).length > 0"
            class="main-gallery js-flickity"
            ref="flickity"
            :options="flickityOptions"
            v-model="betAmount"
          >
            <div
              class="gallery-cell"
              v-for="(amts, index) in betamounts"
              :key="index"
            >
              <input
                type="radio"
                id="ten-dollars"
                name="price"
                :value="amts.amt"
                tabindex="3"
                required
              />
              <label class="rad" for="ten-dollars">${{ amts.amt }}</label>
            </div>
          </flickity>
        </div>

        <!-- Your details -->
        <div class="card">
          <h2>Non-legally binding but friendship defining agreement</h2>
          <div class="form-floating">
            <input
              class="form-control"
              :class="{ 'is-invalid': validationStatus($v.challengerName) }"
              type="text"
              id="your-name"
              placeholder="Your name"
              required=""
              v-model.trim="$v.challengerName.$model"
            />
            <label for="your-name">Your name</label>
            <div v-if="!$v.challengerName.required" class="invalid-feedback">
              What's your name?
            </div>
          </div>
          <div class="form-floating">
            <input
              class="form-control"
              :class="{ 'is-invalid': validationStatus($v.challengerEmail) }"
              type="email"
              id="your-email"
              placeholder="Your email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              required=""
              v-model.trim="$v.challengerEmail.$model"
            />
            <label for="your-email">Your email</label>
            <div v-if="!$v.challengerEmail.required" class="invalid-feedback">
              What's your email?
            </div>

            <div v-if="!$v.challengerEmail.email" class="invalid-feedback">
              Your Email is Not Valid
            </div>
          </div>
          <div class="form-floating">
            <input
              class="form-control"
              :class="{ 'is-invalid': validationStatus($v.challengerPhone) }"
              type="tel"
              id="your-mobile"
              placeholder="Your mobile"
              pattern="[0-9]{10}"
              maxlength="10"
              required=""
              v-model.trim="$v.challengerPhone.$model"
            />
            <label for="your-mobile">Your mobile</label>
            <div v-if="!$v.challengerPhone.required" class="invalid-feedback">
              What's your number? eg 0412345678
            </div>
          </div>
        </div>

        <!-- Disclaimer & Submit -->
        <div class="card dark">
          <div class="form-check">
            <div v-if="!$v.termAgreed.required" class="invalid-feedback"></div>
            <input
              class="form-check-input"
              :class="{ 'is-invalid': validationStatus($v.termAgreed) }"
              type="checkbox"
              id="disclaimer"
              name="disclaimer"
              required
              value="yes"
              v-model.trim="$v.termAgreed.$model"
            />

            <label class="form-check-label" for="disclaimer"
              >I <span>Steve</span>, hereby agree to shout
              <span>Andre</span> DoorDash to the value of $<span>30</span> in
              the tragic event that <span>QLD</span> loses State of Origin Game
              <span>1</span>.</label
            >
          </div>

          <button type="submit" class="btn btn-primary">
            Send challenge
          </button>
        </div>
      </form>
    </div>

    <!-- End Form screen outer container -->
  </div>
</template>

<script>
import axios from "axios";
import Flickity from "vue-flickity";

import { required, email } from "vuelidate/lib/validators";
export default {
  components: {
    Flickity,
  },
  data() {
    return {
      sState: "",
      mateName: "",
      matePhone: "",
      betAmount: "",
      challengerName: "",
      challengerEmail: "",
      challengerPhone: "",
      termAgreed: false,

      states: [],
      betamounts: [],

      // flickity
      flickityOptions: {
        initialIndex: 2,
        prevNextButtons: false,
        pageDots: false,
        wrapAround: false,

        // any options from Flickity can be used
      },
    };
  },

  validations: {
    sState: { required },
    mateName: { required },
    matePhone: { required },
    // betAmount: { required },
    challengerName: { required },
    challengerEmail: { required, email },
    challengerPhone: { required },
    termAgreed: { required },
  },

  methods: {
    // valdiation
    validationStatus(validation) {
      return typeof validation != "undefined" ? validation.$error : false;
    },

    // reset inputs

    resetData() {
      this.sState = "";
      this.mateName = "";
      this.matePhone = "";
      this.betAmount = "";
      this.challengerName = "";
      this.challengerEmail = "";
      this.challengerPhone = "";
      this.termAgreed = "";
    },

    // on submit
    startChallenge() {
      // var apple = this.
      this.$v.$touch();
      if (this.$v.$pending || this.$v.$error) return;

      let formData = new FormData();

      formData.append("challengerstate", this.sState);
      formData.append("challengerName", this.challengerName);
      formData.append("challengerPhone", this.challengerPhone);
      formData.append("challengerEmail", this.challengerEmail);
      formData.append("mateName", this.mateName);
      formData.append("matePhone", this.matePhone);
      formData.append("betAmount", this.betAmount);
      formData.append("termAgreed", this.termAgreed);

      axios
        .post("/api/challengestart", formData)
        .then((response) => {
          console.log(response);
          alert("data submit");
          this.$session.start();
          this.$session.set("challengesuccess", this.sState);
          this.$v.$reset();
          this.resetData();
          this.$router.push("/challenge-successful");
        })
        .catch((error) => {
          console.log(error);
        });
    },
    selectedState(state) {
      console.log(state);
    },

    getStates() {
      axios
        .get("/api/states/")
        .then((response) => {
          this.states = response.data;
          console.log(this.states);
        })
        .catch((error) => {
          console.log(error);
          this.errored = true;
        });
    },

    betAmounts() {
      axios
        .get("/api/betamounts")
        .then((response) => {
          this.betamounts = response.data;
          console.log(this.betamounts);
        })
        .catch((error) => {
          console.log(error);
          this.errored = true;
        });
    },
  },

  mounted() {
    this.getStates();
    this.betAmounts();
    console.log(this.$session.get("challengesuccess"));
  },
};
</script>

<style scoped>
.state-card > .full-width {
  max-width: unset;
  width: 40%;
}

.rad {
  font-size: 48px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 48px;
  line-height: 88px;
  width: auto;
  margin: 0 0;
  padding: 0;
  font-family: "TT Norms Pro Bold", sans-serif;
  transition: 0.3s;
  color: #dcdcdc;
}
</style>
