<template>
  <!-- Challenge accepted -->
  <div class="outer-container screen">
    <!-- Logo -->

    <div class="inner-container header justify-center bg-diagonal">
      <div class="bg-draw"></div>
    </div>

    <div class="inner-container content justify-center">
      <div class="card">
        <h4>Game on!</h4>
        <h1>I've put my money where my mouth is</h1>
        <p>
          "The loser shouts dinner to
          the&nbsp;value&nbsp;of&nbsp;<span>$40</span>.
          <!-- the escaped spaces are there to prevent orphan text on line wrap -->
          <br />
          Go The <span>Blues</span>!"
        </p>
        <h4>Notify the masses</h4>
        <div class="col-12 justify-center share-container">
          <img src="@/assets/img/twitter-icon.svg" />
          <img src="@/assets/img/facebook-icon.svg" />

          <div
            class="fb-share-button"
            data-href="http://madebymit.com/doordash/"
            data-layout="button_count"
          ></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped></style>
