<template>
  <div class="outer-container screen">
    <div class="inner-container header justify-center bg-diagonal">
      <div class="bg-maroons"></div>
    </div>

    <div class="inner-container content justify-center">
      <div class="card">
        <h1><span>Dramon</span> has challenged you!</h1>
        <p>
          “<span>QLD</span> will beat <span>NSW</span> in
          State&nbsp;of&nbsp;Origin,&nbsp;Game&nbsp;<span>1</span>!
          <br />
          The loser shouts dinner to
          the&nbsp;value&nbsp;of&nbsp;<span>$40</span>.”
        </p>
        <h4>Put your money where your mouth is?</h4>
        <div class="col-12 btn-container">
          <a href="#" class="col-12 col-md-6 btn btn-primary order-md-2"
            >Accept challenge</a
          >

          <router-link
            class="col-12 col-md-6 btn btn-secondary"
            to="/challenge-declined"
            >Decline challenge</router-link
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped></style>
