<template>
  <div>
    <div>
      <State />
    </div>
  </div>
</template>

<script>
import State from "@/components/Challenger/State.vue";

export default {
  name: "Challenger",
  components: {
    State,
  },
};
</script>

<style scoped></style>
