<template>
  <div>
    <div class="inner-container header justify-center bg-diagonal">
      <div :class="imgClass"></div>
    </div>

    <div class="inner-container content justify-center">
      <div class="card">
        <h1>Your challenge has been sent</h1>
        <p>Go The {{ state }}!</p>
        <div class="col-12 btn-container">
          <router-link class="btn btn-primary" to="/challenger"
            >Start another challenge</router-link
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      state: "",
      imgClass: "",
    };
  },

  mounted() {
    if (!this.$session.has("challengesuccess")) {
      this.$router.push("/");
    } else {
      if (this.$session.get("challengesuccess") == "QLD") {
        this.state = "Maroons";
        this.imgClass = "bg-maroons";
      } else {
        this.state = "Blues";
        this.imgClass = "bg-blues";
      }
    }
  },
};
</script>

<style scoped></style>
