<template>
  <!-- Challenge declined -->
  <div class="outer-container screen">
    <div class="inner-container header bg-spicy justify-center">
      <div class="col-12 justify-center align-center">
        <img class="chillie-image" src="@/assets/img/chillie.png" />
      </div>
    </div>

    <div class="inner-container content justify-center bg-spicy">
      <div class="card bg-none">
        <h1>Too spicy for you huh?</h1>
        <p>
          Discount code for free delivery.
          <br />
          <span class="uppercase">Something</span>
          <br />
          for <span>20% off</span>
        </p>
        <div class="col-12 btn-container">
          <a href="#" class="col-12 col-md-6 btn btn-white">Download App</a>
          <router-link class="col-12 col-md-6 btn btn-white" to="/"
            >Another challenge</router-link
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped></style>
