<template>
  <div>
    <div class="inner-container header justify-center bg-diagonal">
      <div class="col-12 justify-center align-center hero-image-container">
        <img
          class="badge-large"
          src="@/assets/img/badge.svg"
          alt="Put your money where your mouth is - Shield"
        />
      </div>
    </div>

    <div class="inner-container content justify-center">
      <div class="card">
        <h1>Hold up, are you 18+?</h1>
        <div class="col-12 btn-container">
          <router-link class="btn btn-secondary btn-small" to="/age-check"
            >No</router-link
          >
          <a href="#" @click="saveCookiee" class="btn btn-secondary btn-small"
            >Yes</a
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VueCookies from "vue-cookies";
export default {
  name: "Home",
  components: {},

  data() {
    return {};
  },

  created() {
    // if the cookies are set previously
    if (VueCookies.isKey("ageCheck")) {
      this.$router.push("start-challenge");
    }
  },

  methods: {
    saveCookiee() {
      // cooie set for 1 min 30 sec
      VueCookies.set("ageCheck", "above18", 60 + 30);
      this.$router.push("start-challenge");
    },
  },
};
</script>

<style scoped></style>
