<template>
  <div>
    <div class="inner-container header justify-center bg-diagonal">
      <div class="col-12 justify-center align-center hero-image-container">
        <img
          class="badge-large"
          src="@/assets/img/badge.svg"
          alt="Put your money where your mouth is - Shield"
        />
      </div>
    </div>

    <div class="inner-container content justify-center">
      <div class="card">
        <h4>State of Origin - Game <span>1</span></h4>
        <h1>Up the Steaks!</h1>
        <p>Loser buys dinner with DoorDash</p>
        <div class="col-12 btn-container">
          <router-link class="btn btn-primary" to="/challenger"
            >Start Challenge</router-link
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped></style>
