<template>
  <div>
    <div class="inner-container header justify-center bg-diagonal">
      <div class="bg-cuttlery"></div>
    </div>

    <div class="inner-container content justify-center">
      <div class="card">
        <h1>You shall not pass</h1>
        <p class="extra-large">
          Sorry... these high steaks are for adults +18 only.
        </p>
        <div class="col-12 btn-container">
          <router-link to="/" class="btn btn-secondary">Back</router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped></style>
