<template>
  <div>
    <!-- Footer -->
    <footer class="inner-container justify-center align-center">
      <div class="app-store-logo-container justify-center col-12 col-md-auto">
        <img src="@/assets/img/app-store-svg.svg" />
        <img src="@/assets/img/google-play-svg.svg" />
      </div>
      <ul>
        <li>
          <a href=""><img src="@/assets/img/doordash-glyph.svg"/></a>
        </li>
        <li><a href="">Terms of Service</a></li>
        <li><a href="">Privacy</a></li>
        <li><a href="">Notice at collection</a></li>
        <li>
          <a href="">Do not sell my personal information (California)</a>
        </li>
        <li><a href="">Delivery locations</a></li>
        <li><span>&trade;2021 DoorDash</span></li>
      </ul>
    </footer>
    <!-- End footer -->
  </div>
</template>

<script>
export default {};
</script>

<style scoped></style>
