<template>
  <div class="inner-container justify-center header-logo">
    <img src="@/assets/img/dd-logo-orange.svg" />
  </div>
</template>

<script>
export default {};
</script>

<style scoped></style>
