/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Containers */
.outer-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #f4f4f4;
  overflow: hidden;
}
.inner-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.full-width {
  width: calc(100% + 64px);
}

/* Grids */
.col-12 {
  width: 100%;
}
@media (min-width: 768px) {
  .col-md-auto {
    width: auto;
  }
  .col-md-6 {
    width: 50%;
  }
}

/* Helpers */
.justify-center {
  display: flex;
  justify-content: center;
}
.justify-left,
.justify-start {
  display: flex;
  justify-content: flex-start;
}
.justify-right,
.justify-end {
  display: flex;
  justify-content: flex-end;
}
.align-center {
  display: flex;
  align-items: center;
}
.align-start {
  display: flex;
  align-items: flex-start;
}
.align-end {
  display: flex;
  align-items: flex-end;
}

/* Typography */
@font-face {
  font-family: "TT Norms Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: local("TT Norms Pro Regular"), url("fonts/TTRegular.woff") format("woff");
}
@font-face {
  font-family: "TT Norms Pro Bold";
  font-style: normal;
  font-weight: normal;
  src: local("TT Norms Pro Bold"), url("fonts/TTBold.woff") format("woff");
}
* {
  font-family: "TT Norms Pro Regular", sans-serif;
}
h1,
h1 span,
h2,
h3,
h4,
h4 span,
h5 {
  font-family: "TT Norms Pro Bold", sans-serif;
  text-align: center;
}
h1,
h1 span {
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 16px;
}
h2 {
  font-size: 28px;
  line-height: 36px;
}
h3 {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 32px;
}
h4,
h4 span {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 8px;
}
h5 {
  font-size: 18px;
  line-height: 26px;
}
p {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 19px;
  text-align: center;
}
p.bold {
  font-family: "TT Norms Pro Bold", sans-serif;
}
p.extra-small {
  font-size: 12px;
  line-height: 20px;
}
p.bold.extra-small {
  line-height: 22px;
}
p.small {
  font-size: 14px;
  line-height: 22px;
}
p.large {
  font-size: 18px;
  line-height: 26px;
}
p.extra-large {
  font-size: 24px;
  line-height: 34px;
}
.uppercase {
  text-transform: uppercase;
}
@media (min-width: 768px) {
  h1,
  h1 span {
    font-size: 56px;
    line-height: 64px;
  }
  h2 {
    font-size: 40px;
    line-height: 48px;
  }
  h3 {
    font-size: 32px;
    line-height: 40px;
  }
  h4,
  h4 span {
    font-size: 20px;
    line-height: 28px;
  }
  h5 {
    font-size: 20px;
    line-height: 28px;
  }
}

/* Buttons */
.btn-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
}
.btn {
  background: #fff;
  font-family: "TT Norms Pro Bold", sans-serif;
  color: #191919;
  font-size: 16px;
  padding: 16px;
  border-radius: 50px;
  flex-grow: 1;
}
.btn-small:first-of-type {
  margin-right: 8px;
}
.btn-small:last-of-type {
  margin-left: 8px;
}
.col-12.btn + .col-12.btn {
  margin-top: 16px;
}
.btn-round {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
}
.btn-round:first-of-type {
  margin-right: 16px;
}
.btn-round:last-of-type {
  margin-left: 16px;
}
.btn.btn-primary {
  background-color: #ff3008;
  color: #fff;
  border-color: #ff3008;
}
.btn.btn-primary:hover {
  background-color: #b71000;
  border-color: #b71000;
}
.btn.btn-secondary:hover {
  background-color: #f7f7f7;
  border-color: #000;
  color: #191919;
}
.btn-white {
  background: #fff;
  border: 1px solid #fff;
}
.btn-white:hover {
  opacity: 0.95;
  border: 1px solid #fff;
}
@media (min-width: 768px) {
  .col-md-6.btn {
    width: calc(50% - 16px);
    margin: 0 8px;
  }
  .col-md-6.btn + .col-md-6.btn:nth-of-type(2) {
    margin: 0 8px;
  }
}

/* Screens */
.bg-diagonal {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#82003e+0,82003e+50,5eaee1+50,82003e+50,5eaee1+51,5eaee1+100 */
  background: #82003e; /* Old browsers */
  background-image: -moz-linear-gradient(
    left,
    #82003e 0%,
    #82003e 50%,
    #5eaee1 50%,
    #5eaee1 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #82003e 0%,
    #82003e 50%,
    #5eaee1 50%,
    #5eaee1 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #82003e 0%,
    #82003e 50%,
    #5eaee1 50%,
    #5eaee1 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-image: linear-gradient(
    to right,
    #82003e 0%,
    #82003e 50%,
    #5eaee1 50%,
    #5eaee1 100%
  );
}
.bg-diagonal .hero-image-container {
  background-image: url(img/bg-diagonal.jpg);
  background-size: auto 100%;
  background-position: center top;
  background-repeat: no-repeat;
  height: 361px;
}
.bg-level {
  /* background-image: url("img/bg-level.jpg"); */
  background-size: cover;
  background-position: top center;
}
.bg-blues {
  background-image: url("img/bg-blues.jpg");
  background-size: auto 100%;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  height: 305px;
}
.bg-maroons {
  background-image: url(img/bg-maroons.jpg);
  background-size: auto 100%;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  height: 305px;
}
.bg-draw {
  background-image: url(img/bg-draw.jpg);
  background-size: auto 100%;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  height: 305px;
}
.bg-hero,
.header.bg-hero {
  /* background-image: url(img/hero-banner.jpg); */
  padding-bottom: 85%;
  background-size: 100%;
  background-position: center top;
  background-repeat: no-repeat;
}
.bg-cuttlery {
  background-image: url(img/bg-cuttlery.jpg);
  background-size: auto 100%;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  height: 305px;
}
.bg-spicy {
  background: #b71000;
}
.bg-none {
  background: none;
}

@media (min-width: 375px) {
  .bg-diagonal .hero-image-container {
    background-image: url("img/bg-diagonal-sm.jpg");
    background-size: auto 100%;
    background-position: center top;
    background-repeat: no-repeat;
    height: 360px;
  }
  .bg-blues {
    background-image: url("img/bg-blues-sm.jpg");
    background-size: auto 100%;
    background-position: center top;
    background-repeat: no-repeat;
    width: 100%;
    height: 360px;
  }
  .bg-maroons {
    background-image: url("img/bg-maroons-sm.jpg");
    background-size: auto 100%;
    background-position: center top;
    background-repeat: no-repeat;
    width: 100%;
    height: 360px;
  }
  .bg-draw {
    background-image: url("img/bg-draw-sm.jpg");
    background-size: auto 100%;
    background-position: center top;
    background-repeat: no-repeat;
    width: 100%;
    height: 360px;
  }
  .bg-cuttlery {
    background-image: url("img/bg-cuttlery-sm.jpg");
    background-size: auto 100%;
    background-position: center top;
    background-repeat: no-repeat;
    width: 100%;
    height: 360px;
  }
}

@media (min-width: 768px) {
  .bg-diagonal {
    background-image: linear-gradient(
      to right,
      #82003e 0%,
      #82003e 50%,
      #5eaee1 50%,
      #5eaee1 100%
    );
    background-size: auto 100%;
    background-repeat: no-repeat;
  }
  .bg-diagonal .hero-image-container {
    background-image: url("img/bg-diagonal-md.jpg");
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 625px;
  }
  .bg-blues {
    background-image: url("img/bg-blues-md.jpg");
    background-size: auto 100%;
    background-position: center top;
    background-repeat: no-repeat;
    width: 100%;
    height: 525px;
  }
  .bg-maroons {
    background-image: url("img/bg-maroons-md.jpg");
    background-size: auto 100%;
    background-position: center top;
    background-repeat: no-repeat;
    width: 100%;
    height: 525px;
  }
  .bg-draw {
    background-image: url("img/bg-draw-md.jpg");
    background-size: auto 100%;
    background-position: center top;
    background-repeat: no-repeat;
    width: 100%;
    height: 525px;
  }
  .bg-cuttlery {
    background-image: url("img/bg-cuttlery-md.jpg");
    background-size: auto 100%;
    background-position: center top;
    background-repeat: no-repeat;
    width: 100%;
    height: 625px;
  }
  .bg-hero {
    /* background-image: url(img/hero-banner-lg.jpg); */
  }
}

.dd-logo {
  width: 128px;
}
@media (min-width: 375px) {
  .dd-logo {
    width: 200px;
  }
}
.header-logo {
  background: #fff;
}
.header-logo img {
  padding: 24px 0;
}
@media (min-width: 768px) {
  .header-logo img {
    padding: 32x 0 32px;
  }
}
.hero-image-container {
  width: 100%;
  max-width: 1440px;
}
.badge-large {
  width: 146px;
  height: auto;
  margin-top: 72px;
  margin-bottom: calc((100% * 5 / 90 / 2) + 61px);
}
.cuttlery-image-container img,
.burger-image-container img {
  width: 100%;
  max-width: 500px;
}
.burger-image-container img {
  margin-top: 42px;
  max-width: 320px;
}
@media (min-width: 768px) {
  .cuttlery-image-container img {
    max-width: 800px;
  }
  .burger-image-container img {
    margin-top: 62px;
    max-width: 600px;
    margin-bottom: 40px;
  }
}
@media (min-width: 768px) {
  .burger-image-container img {
    margin-bottom: 80px;
  }
}
@media (min-width: 768px) {
  .badge-large {
    width: 243px;
    margin-top: 89px;
    margin-bottom: calc((100% * 5 / 90 / 2) + 191px);
  }
}
@media (min-width: 1200px) {
  .content {
    margin-top: -68px;
  }
  .badge-large {
    width: 243px;
    margin-top: 89px;
    margin-bottom: calc((100% * 5 / 90 / 2) + 217px);
  }
}

.header {
  position: relative;
}
.header::after {
  content: "";
  width: calc(100vw + 100px);
  height: 180px;
  background: #fff;
  position: absolute;
  bottom: -180px;
  right: 0;
  transform: rotate(5deg);
  transform-origin: bottom right;
}
@media (min-width: 768px) {
  .header::after {
    background: #f4f4f4;
    height: 400px;
    bottom: -400px;
  }
}
/*
@media (min-width: 2000px) {
    .header::after {
        background: #f4f4f4;
        bottom: -240px;
        height: 240px;
    }
}
@media (min-width: 2700px) {
    .header::after {
        background: #f4f4f4;
        bottom: -270px;
        height: 270px;
    }
}
@media (min-width: 3000px) {
    .header::after {
        background: #f4f4f4;
        bottom: -350px;
        height: 350px;
    }
}
*/
.header.bg-spicy::after {
  content: none;
}

.content {
  /*margin-top: -50px;*/
}
@media (min-width: 1200px) {
  .content {
    margin-top: -28px;
  }
}
.screen .card {
  padding: 32px 24px;
  margin-bottom: 0;
  border: none;
}
@media (min-width: 768px) {
  .screen .card {
    margin-top: -112px;
    margin-bottom: 75px;
    border: 1px solid #e7e7e7;
    padding-top: 94px;
    padding-bottom: 82px;
  }
}
@media (min-width: 2000px) {
  .screen .card {
    margin-top: -142px;
  }
}
.screen .card > h1:first-child {
  margin-top: -10px;
}
.screen .card > h4:first-child {
  margin-top: -7px;
}
.screen .card h1 + .btn-container {
  margin-top: 17px;
}
.screen .card h4 + .btn-container {
  margin-top: 23px;
}
.screen .card p + .btn-container {
  margin-top: 14px;
}
.screen .card h4 + .share-container {
  margin-top: 7px;
}

/* Campaign images */
.fork-steak {
  margin-bottom: -10px;
  width: 394px;
  height: auto;
}
.steak-right {
  width: 100%;
  max-width: 640px;
}
.chillie-image {
  width: 233px;
  height: auto;
  margin: 33px 0 31px;
  z-index: 2;
}
@media (min-width: 768px) {
  .chillie-image {
    margin: 33px 0 77px;
  }
}
.steak-left {
  width: 345px;
  margin-top: -63px;
  height: auto;
}
.meatball-right {
  width: 302px;
  height: autos;
  margin-top: -156px;
  margin-bottom: -87px;
}

/* Social share */
.share-container img {
  margin: 0 20px;
}

/* Cards */
.card {
  width: 100%;
  max-width: 800px;
  background: #fff;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  border-radius: 0;
  padding: 40px 32px 48px;
  margin-bottom: 8px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .card {
    border: 1px solid #e7e7e7;
  }
}
.card > * {
  max-width: 450px;
  width: 100%;
}
.card .full-width {
  width: calc(100% + 64px);
  max-width: unset;
  padding: 0;
}
.card.dark {
  background: none;
  border: none;
  margin: 0;
}
.card.bg-none {
  background: none;
  border: none;
  color: #fff;
}
.card + .card.dark {
  margin-top: -8px;
  z-index: 2;
}
.card > *:last-child {
  margin-bottom: 0;
}
.card .form-floating:last-of-type .form-control {
  margin-bottom: 0;
}
.card h2 {
  margin-bottom: 24px;
}
form > .card:first-of-type {
  margin-top: 8px;
}

@media (min-width: 768px) {
  form > .card:first-of-type {
    margin-top: 40px;
  }
}

/* State selector card */
.state-card {
  padding-left: 0;
  padding-right: 0;
}
.state-card > * {
  width: 100%;
  max-width: 540px;
  padding: 0 32px;
}
.state-card > .full-width {
  max-width: unset;
}

/* money selector card */
.card.price-card {
  padding-left: 0;
  padding-right: 0;
}
.price-card h2,
.price-card h3 {
  width: 100%;
  max-width: 540px;
  padding: 0 32px;
}
.selected-nsw h3 {
  transition: 0.4s;
}
.selected-qld h3 {
  transition: 0.4s;
}
.price-card h3 {
  margin-bottom: 0px;
  transition: 0.4s;
  width: 100%;
}
.price-card h3::after {
  content: url(img/triangle-grey.svg);
  margin: 6px auto 9px;
  position: relative;
  display: block;
}
.selected-nsw .price-card h3::after {
  content: url(img/triangle-blue.svg);
  position: relative;
  transition: 0.2s;
}
.selected-qld .price-card h3::after {
  content: url(img/triangle-maroon.svg);
  position: relative;
  transition: 0.2s;
}
.price-container {
  position: relative;
  width: calc(100% + 64px);
  height: 86px;
  overflow-y: hidden;
  overflow-x: scroll;
}
.price-list {
  padding: 0 330px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.js-flickity * {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.js-flickity *:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.price-list li,
.flickity-slider li {
  list-style: none;
}
li.gallery-cell:not(.is-selected) {
  transform: translateY(14px);
  transition: 0.3s;
}
.price-list li label,
.flickity-slider li label {
  width: auto;
  height: auto;
  padding: 0;
  margin: 0 0px;
  font-family: "TT Norms Pro Bold", sans-serif;
  font-size: 48px;
  line-height: 88px;
  color: #dcdcdc;
  transition: 0.3s;
}
.card > .js-flickity {
  max-width: unset;
  padding: 0;
}
.flickity-slider .gallery-cell {
  width: 160px;
  height: 88px;
  counter-increment: gallery-cell;
}
.price-list input[type="radio"]:checked + label,
.flickity-slider input[type="radio"]:checked + label,
.gallery-cell.is-selected input[type="radio"] + label {
  color: #191919;
  position: relative;
  transition: 0.3s;
  transform: scale(1.8333);
}
.selected-nsw .flickity-slider input[type="radio"]:checked + label,
.selected-nsw .gallery-cell.is-selected input[type="radio"] + label {
  color: #5eaee0;
}
.selected-nsw .price-list input[type="radio"]:checked + label {
  color: #5eaee0;
}
.selected-qld .flickity-slider input[type="radio"]:checked + label,
.selected-qld .gallery-cell.is-selected input[type="radio"] + label {
  color: #83003f;
}
.selected-qld .price-list input[type="radio"]:checked + label {
  color: #83003f;
}

/* Forms */
input[type="text"],
input[type="tel"],
input[type="email"] {
  margin-bottom: 24px;
  padding: 20px;
  background: #fff;
  border: 2px solid #e7e7e7;
  color: #191919;
  font-size: 16px;
  -webkit-appearance: none;
  border-radius: 4px;
  outline: none !important;
}
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus {
  border: 2px solid #00838a;
  outline: none !important;
}
input::placeholder {
  color: #191919;
}

/*Boostrap form override */
.form-control:focus {
  color: #191919;
  background-color: #fff;
  box-shadow: none;
}
.form-control.is-invalid,
.was-validated .form-control:invalid {
  border-color: #ff3008;
  background-image: none;
}
.form-control.is-valid,
.was-validated .form-control:valid {
  border-color: #00838a;
  background-image: none;
}
.form-check {
  display: flex;
  min-height: unset;
  padding-left: 0;
  margin-bottom: 0;
}
.form-check-input.is-invalid ~ .form-check-label,
.was-validated .form-check-input:invalid ~ .form-check-label {
  color: #ff3008;
}
.form-check-input.is-valid ~ .form-check-label,
.was-validated .form-check-input:valid ~ .form-check-label {
  color: inherit;
}
.invalid-feedback {
  color: #dc3545;
  font-family: "TT Norms Pro Bold", sans-serif;
  font-size: 12px;
  margin-top: -20px;
  margin-bottom: 19px;
}
.form-floating > .form-control,
.form-floating > .form-select {
  height: 64px;
  padding: 16px;
  display: flex;
  align-items: stretch;
  line-height: 16px;
}
.form-floating > label {
  top: 4px;
  padding: 16px 18px;
}
.radio-container .invalid-feedback {
  text-align: center;
  margin-top: 7px;
  margin-bottom: 0;
}
.card
  .form-floating:last-of-type
  .form-control:invalid
  + label
  + .invalid-feedback {
  margin-top: 4px;
}
/* End Bootstrap form override */

.radio-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 12px;
}
input[type="radio"] {
  margin: 0;
  padding: 0;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}
label.radio {
  width: 118px;
  height: 148px;
  margin: 0px 4px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: "TT Norms Pro Bold", serif;
  font-size: 24px;
  line-height: 1;
}

/*Trying CSS animation for radio instead*/
.radio-inner-container {
  position: relative;
  width: 120px;
  margin: 0 5px;
}
#blues {
  width: 98px;
  height: 98px;
  padding: 0 18px;
  border: none;
  background: #c6deec;
  transition: 0.2s;
  opacity: 1;
  position: relative;
  left: 0;
  top: 0;
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blues:checked {
  transform: scale(1.2);
  background-color: #d0e8f6;
  transition: 0.3s;
  transition: 0.3s cubic-bezier(0.4, 0.45, 0.46, 1.98);
  background-image: none;
  box-shadow: none;
  border: none;
}
#blues:focus {
  border: none;
  box-shadow: none;
}
label.blues {
  z-index: 2;
  position: relative;
  margin-left: -123px;
  margin-top: -9px;
  cursor: pointer;
}
#blues:checked + label.blues {
  background-position: 0px 0px;
  color: #0184c6;
  transition: 0.3s;
}
#maroons {
  width: 98px;
  height: 98px;
  padding: 0 18px;
  border: none;
  background: #e6ccd9;
  opacity: 1;
  transition: 0.2s;
  position: relative;
  margin-left: 16px;
  margin-right: 16px;
  left: unset;
  top: unset;
  display: flex;
  justify-content: center;
  align-items: center;
}
#maroons:checked {
  transform: scale(1.2);
  background-color: #e6ccd9;
  transition: 0.3s;
  transition: 0.3s cubic-bezier(0.4, 0.45, 0.46, 1.98);
  background-image: none;
  box-shadow: none;
  border: none;
}
#maroons:focus {
  border: none;
  box-shadow: none;
}
label.maroons {
  z-index: 2;
  position: relative;
  margin-left: -123px;
  margin-top: -9px;
  cursor: pointer;
}
#maroons:checked + label.maroons {
  background-position: 0px 0px;
  color: #83003f;
}

.radio.blues {
  background: url(img/blues-default@2x.png);
  background-size: 116px 116px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
/*
#blues:checked + label.blues {
    background-position: -122.55px 0px;
    color: #0184c6;
}
*/
.radio.maroons {
  background-image: url(img/maroons-default@2x.png);
  background-size: 116px 116px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

/*
#maroons:checked + label.maroons {
    background-position: -121.65px 0px;
    color: #83003F;
} 
*/

input[type="checkbox"] {
  margin-bottom: 32px;
}
input[type="checkbox"] + label {
  margin-bottom: 32px;
}
input[type="submit"] {
  background: #eb1700;
  color: #fff;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  font-family: "TT Norms Pro Regular", sans-serif;
  font-size: 16px;
  font-weight: 600;
  border: none;
  transition: 0.2s;
}
input[type="submit"]:hover {
  background: #fff;
  color: #191919;
  transition: 0.4s;
}

/* Checkbox */
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: 0;
  opacity: 0.01;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 46px;
  font-size: 16px;
  line-height: 24px;
  color: #666;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  border: 2px solid #e7e7e7;
  background: #fff;
  border-radius: 2px;
  -webkit-transition: all 0.275s;
  transition: all 0.275s;
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: url(img/tick.svg);
  position: absolute;
  top: 7px;
  left: 5px;
  color: #ff3008;
  line-height: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0) rotate(45deg);
  transform: scale(0) rotate(45deg);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0);
  transform: scale(1) rotate(0);
}

/* Disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #e9e9e9;
}

[type="checkbox"]:disabled:checked + label:after {
  color: #777;
}

[type="checkbox"]:disabled + label {
  color: #aaa;
}

/* Accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  box-shadow: inset 0 1px 3px rgba(255, 48, 8, 0.1),
    0 0 0 6px rgba(255, 48, 8, 0.2);
}

/* Footer */
footer {
  background: #191919;
  padding: 20px 32px;
}
.app-store-logo-container {
  width: 100%;
  margin-bottom: 20px;
}
.app-store-logo-container img {
  padding: 0 4px;
}
footer ul {
  padding-left: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}
footer ul li,
footer ul li a,
footer ul li span {
  color: #ccc;
  text-decoration: none;
  list-style: none;
  display: inline-flex;
  margin: 0 6px 3px;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
}
footer ul li a:hover {
  color: #fff;
}
