<template>
  <div>
    <Header />
    <router-view></router-view>
    <Footer />
  </div>
</template>

<script>
import Header from "@/components/Property/Header.vue";
import Footer from "@/components/Property/Footer.vue";

export default {
  name: "Appall",
  components: {
    Header,
    Footer,
  },
};
</script>

<style></style>
