<template>
  <div>
    <Header />
    <router-view></router-view>
  </div>
</template>

<script>
import Header from "@/components/Property/Header.vue";

export default {
  name: "DeclinedLayout",
  components: {
    Header,
  },
};
</script>

<style></style>
